{% extends 'blog/base.html' %}
{% block content %}
<article class="post">
<!--    {% if user.is_authenticated %}-->
    <a class="btn btn-secondary" href="{% url 'post_edit' pk=post.pk %}">
        {% include './icons/pencil-fill.svg' %}
    </a>
    <a class="btn btn-secondary" href="{% url 'post_delete' pk=post.pk %}">
        {% include './icons/file-excel.svg' %}
    </a>
<!--    {% endif %}-->
    {% if post.published_date %}
    <time class="date">
        {{ post.published_date }}
    </time>

    {% endif %}
    <h2>{{ post.title }}</h2>
    <p>{{ post.text|linebreaksbr }}</p>
</article>
<h5 class="fw-bold text-primary mb-1">
    Read or write your own comment below:
</h5>
<section style="background-color: #eee;">
    <div class="container my-5 py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-10 col-xl-8">
                <div class="card">
                    <div class="card-body">
                        <p class="text-muted small mb-0">
                            {% for comment in post.comments.all %}
                                {% if comment.approved_comment %}
                                    <h6 class="fw-bold text-primary mb-1">@{{ comment.author }}</h6>
                                    {{ comment.text|linebreaks }}
                                    {{ comment.created_date.date }} {{ comment.created_date.time|linebreaks }}
                                {% else %}
                                    <h6 class="fw-bold text-primary mb-1">
                                        @{{ comment.author }}</h6>
                                        <strong>This comment not approved from moderator</strong><br><br>
                                    {{ comment.created_date.date }} {{ comment.created_date.time|linebreaks }}
                                {% endif %}
                            {% empty %}
                                No comments here yet
                        {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">

            </div>
            <div class="float-end mt-2 pt-1">
                <a href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
</section>
{% endblock %}
